@import-normalize;
:root {
  --border: #dddddd;
  --main-font-color: #101a27;
  --large-font-size: 26px;
  --small-title-font-size: 22px;
  --medium-font-size: 18px;
  --small-font-size: 15px;
  --highlighted: #315df2;
  --alternate-text-color: #fff;
}

body {
  background-color: #f3f5f7;
}

h1 {
  font-size: var(--large-font-size);
  color: var(--main-font-color);
}

h2 {
  font-size: var(--small-title-font-size);
  color: var(--main-font-color);
}

h3 {
  font-size: var(--medium-font-size);
  font-weight: 500;
}

.small-text {
  font-size: var(--small-font-size);
  color: #8e8e8e;
  margin: 0;
}

.bold {
  font-weight: 600;
}

input {
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

/* Job modal */
.open-modal-button {
  width: 75px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: var(--main-font-color);
  font-weight: bold;
  border: 1px solid var(--border);
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

.add-job-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1);
}

.add-job-modal-content {
  min-height: 60%;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #9e9e9e; */
  width: 95%; /* Could be more or less, depending on screen size */
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.close-modal-button {
  text-align: center;
  vertical-align: center;
  padding: 10px;
  width: 50px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid var(--border);
  background-color: red;
  color: #fff;
  border-radius: 10px;
}

.option {
  background-color: #fff;
  border: 1px solid var(--border);
  padding: 5px 0;
  border-radius: 5px;
  width: 10%;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
}

.picked-option {
  background-color: var(--highlighted);
  color: var(--alternate-text-color);
}

select {
  border: 1px solid var(--border);
  padding: 6px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}

.add-linen-button,
.add-napkin-button {
  border: 1px solid #000;
  text-align: center;
}
/* Job modal */
/* flower notification box */
.flower-notification-box-container {
  width: 30%;
  margin: 50px auto;
  background-color: #ffff;
  border: 1px solid #dddddd;
  padding: 25px;
  border-radius: 15px;
}

.flower-notification-box-container h3 {
  border-top: 1px dashed var(--border);
  padding: 15px 0;
}

.flower-notification-box-container input {
  width: 75px;
  border: 1px solid var(--border);
  color: var(--main-font-color);
}

/* flower notification box */
/* Weekly schedule */
.weekly-schedule-column {
}

.weekly-schedule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffff;
  width: 95%;
  margin: 50px auto;
  border: 1px solid #dddddd;
  padding: 25px;
  border-radius: 15px;
}
/* Weekly schedule */

/* Job preview box */
.job-preview-box-container {
  border: 1px solid #dddddd;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.linen-job-style {
}

.wedding-job-style {
  background-color: #fff3b0;
}

.napkin-text {
  color: blue;
}
/* Job preview box */

/* JobPage */
.job-page-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1);
}

.job-page-content {
  min-height: 60%;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #9e9e9e; */
  width: 95%; /* Could be more or less, depending on screen size */
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.open-job-page-button {
  cursor: pointer;
}

.client-name {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

/* CSS for the button container */
.button-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CSS for the buttons */
.button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #ccc; /* Neutral color */
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
/* Hover effect - darkening */
.button:hover {
  opacity: 0.8;
}

/* Active (clicked) effect */
.button:active {
  opacity: 0.5;
  transform: translateY(2px);
}

.edit-button {
  background-color: orange; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.create-invoice {
  background-color: #4caf50; /* Green color for Create Invoice button */
  color: white;
}

.send-invoice {
  background-color: #3498db; /* Blue color for Send Invoice button */
  color: white;
}

.close-modal {
  background-color: #f44336; /* Red color for Close button */
  color: white;
}

.client-details-table {
  width: 100%;
}

.client-details-table .table-label {
  font-weight: bold;
}

.client-details-table td {
  border: none;
  font-size: 22px;
}
.client-details-table tr:nth-child(even) {
  background-color: #fafafa;
}
/* Add this CSS for the notes section */
.job-page-content .notes {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.job-page-content .notes h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.job-page-content .notes p {
  font-size: 16px;
  margin: 10px 0;
}

.job-page-edit-button {
  cursor: pointer;
  background-color: lightblue;
}

/* CSS for table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #fafafa;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

/* Additional styling as needed */

.checkbox-container {
  display: flex;
  align-items: center;
}

.invoice-link-container {
  border: 1px solid #dddddd;
  padding: 25px;
  border-radius: 15px;
  overflow-x: scroll;
  white-space: nowrap;
}

.invoice-link {
  margin: 10px;
  border-radius: 15px;
  padding: 15px 25px;
  background-color: #f3f5f7;
  text-decoration: none; /* no underline */
  color: var(--main-font-color);
  font-weight: 600;
  font-size: var(--medium-font-size);
}

/* JobPage */
/* checkbox */
.check-box-container {
  display: flex;
  align-items: center;
}
.check-box-box {
  margin: 15px 10px 15px 0px;
  width: 35px;
  height: 35px;
  border: 2px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
}

.checked {
  background-color: var(--highlighted);
}

.check-box-title {
  font-size: 20px;
  margin: 0;
  margin-right: 2vw;
  font-weight: 600;
}
/* checkbox */

/* calendar */
.calendar-border {
  width: 95%;
  margin: 50px auto;
  border: 1px solid #dddddd;
  background-color: #ffff;
  padding: 25px;
  border-radius: 15px;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  justify-content: center;
  background-color: #fff;
}

.cell-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);
  padding: 15px;
  text-align: center;
}

.cell {
  border: 1px dashed var(--border);
  padding: 20px;
}

.cell-date-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.cell-clickable {
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
.empty-days {
  /* background-color: #eeeeee; */
}

.uppercase {
  text-transform: uppercase;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.font-l {
  font-size: 25px;
  color: var(--main-font-color);
}
.highlighted-cell {
  background-color: lightblue;
}
/* calendar */
/* Table */

table {
  background-color: #ffff;
  table-layout: fixed;
  border-radius: 15px;
  padding: 25px 0;
}

.jobs-table {
  margin: 50px auto;
  padding: 25px;
  width: 95%;
  border: 1px solid #dddddd;
}

tbody {
  width: 100%;
}
tr {
  width: 100%;
}

th,
td {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  border-top: 1px dashed var(--border);
  font-size: 17px;
  color: black;
}

.table-header-title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.sort-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: black;
  cursor: pointer;
}

.sort-reverse {
  transform: rotate(180deg);
}
/* Table */

/* send email modal */
/* Add these styles to your component's CSS file */
.send-email-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.send-email-modal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.send-email-modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: red;
}

.send-email-modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.send-email-modal button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-email-modal button:hover {
  background-color: #0056b3;
}

/* send email modal */

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESET */
